@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);

.nonItemOne option:first-child{
 display: none;
}

.btn_save{
	font-size: 12pt;
	background: #2980b9;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 15px auto;
}
.alert{
	width: 100%;
	background: #66e07d66;
	border-radius: 5px;
	margin: 20px auto;
}
.msg_error{
	color: #e65656;
	font-size: 14px;
}
.msg_save{
	color: #126e00;
	font-size: 14px;
}
.alert p{
	padding: 10px;
}
/*****Lista de usuarios*******/
#container h1{
	font-size: 35px;
	display: inline-block;
}

.btn-new{
	display: inline-block;
	font-size: 12pt;
	background: #239baa;
	padding: 5px 25px;
	color: #FFF;
	letter-spacing: 1px;
	border-radius: 4px;
	cursor: pointer;
	margin: 20px;
}
/*table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: 'arial';
	width: 100%;

}

table th{
	text-align: left;
	padding: 10px;
	background: #3d7ba8;
	color: #FFF;
}

table tr:nth-child(odd){
	background: #FFF;
}

table td{
	padding: 10px;
}
.link_edit{
	color: #0ca4ce;
}
.link_delete{
	color: #f26b6b;
}